{% extends "base.html" %}

{% block content %}
{{ super() }}

{% block footer %}
    <div class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
         <small class="contributors" data-bi-name="contributors">Authors:&nbsp;
              {%- for user in committers -%}
                  <a href="{{ user.repos }}" title="{{ user.login }}" data-bi-name="contributorprofile">{{ user.login }}</a>
              {%- endfor -%}
         </small>
    </div>
    {% endblock %}
{% endblock %}
